.areasContainer {
    background-color: gray;
    margin: 0;
}

.h1Areas {
    text-align: center;
    padding: 40px;
    font-size: 3rem;
    font-weight: bold;
    color: #fafafa;
}

.spanAreas1 {
    text-decoration: underline;
    text-decoration-color: #d2ae6d;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

.contenedorDetalle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 15px;
    background-color: gray;
    color: #fafafa;
}

.contenedorDetalleTexto {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 10px;
    margin-right: 50px;
}

.contenedorDetalleTexto ul {
    list-style: none;
}

.iconoLista {
    height: 15px;
    margin-top: 4px;
    margin-right: 5px;
}

.contenedorImagenDetalle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contenedorImagenDetalle1 .imagenDetalle {
    height: 35rem;
    width: 38vw;
    border: #d2ae6d 5px solid;
    border-radius: 5px;
}

.contenedorImagenDetalle1 .imagenDetalleDerechoLaboral {
    height: 53rem;
}

.contenedorDetalleTexto h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.contenedorDetalleTexto ul li {
    display: flex;
    flex-direction: row;
}

.contenedorDetalleTexto ul li span {
    font-weight: bold;
}

.contenedorDetalleTexto h2 {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.contenedorDetalleTexto p {
    text-align: justify;

}

.contenedorBtnDetalle {
    align-self: center;
}

.btnContactoDetalle {
    background-color: #d2ae6d;
    color: #fafafa;
    padding: 10px;
    border: #d2ae6d solid 1px;
    transition: all 0.3s;
    border-radius: 5px;
    font-size: 1.3rem;
    width: 200px;
}

.btnContactoDetalle:hover {
    background-color: #e6bd73;
}

.tituloSubrayado {
    text-decoration: underline;
    text-decoration-color: #d2ae6d;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}


@media (min-width: 990px) {
    .contenedorImagenDetalle2 {
        display: none;
    }
}

@media (max-width: 990px) {
    .contenedorImagenDetalle1 {
        display: none;
    }

    .contenedorImagenDetalle2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .contenedorImagenDetalle2 .imagenDetalle {
        height: 300px;
        width: 300px;
        border: #d2ae6d 5px solid;
        border-radius: 5px;
    }

    .h1Areas {
        font-size: 2.8rem;
    }
}

@media (max-width: 685px) {
    .h1Areas {
        font-size: 2.7rem;
    }
}

@media (max-width: 550px) {
    .h1Areas {
        text-wrap: nowrap;
    }    
}

@media (max-width: 380px) {
    .h1Areas {
        text-wrap: wrap;
    }

    .spanAreas1 {
        text-decoration: none;
    }

    .spanAreas2 {
        text-decoration: underline;
        text-decoration-color: #d2ae6d;
        text-decoration-thickness: 3px;
        text-underline-offset: 12px;
    }
}
