.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.static-nav {
  position: static;
}

.logo {
  width: 9rem;
  cursor: pointer;
  margin-left: 7vw;
  border: #d2ae6d 3px solid;
  border-radius: 5px;
}

.menuNavegacion ul {
  margin-right: 7vw;
}

.menuNavegacion ul li {
  list-style: none;
  margin: 0px 3vw;
}

.menuNavegacion ul li a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.navbar-toggler {
  border: none;
  margin-right: 2rem;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath stroke="%23d2ae6d" stroke-width="2" stroke-linecap="round" d="M4 6h16M4 12h16M4 18h16"/%3E%3C/svg%3E');
  background-color: transparent;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.barraNavegacion.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.barraNavegacion.solid {
  background-color: #373435;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

@media (min-width: 992px) {
  .nav-item {
    transition: all 0.5s;
  }

  .nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #d2ae6d;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
  }

  .menuNavegacion ul li a:hover {
    color: #d2ae6d;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #373435;
    transition: max-height 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    /* Evita el exceso de tamaño */
    max-height: 0;
    /* Inicialmente colapsado */
  }

  .navbar-collapse.collapse.show {
    max-height: 500px;
    /* Ajusta este valor según sea necesario */
  }

  .menuNavegacion {
    padding: 0;
    /* Quitar padding si es necesario */
  }

  .navbar-nav {
    padding: 10px 0;
    /* Espaciado interno */
  }

  .navbar-collapse {
    box-shadow: none;
    /* Sin sombra por defecto */
  }

  .navbar-collapse.show {
    box-shadow: none;
    /* Sin sombra cuando el menú está abierto */
  }

  .barraNavegacion.solid {
    background-color: #373435;
    box-shadow: none;
    /* Sin sombra cuando está sólido */
  }
}