footer {
    width: 100%;
    background-color: #373435;
    display: flex;
    justify-content: space-between;
    color: #fafafa;
    font-weight: bold;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 1); /* Sombra para el efecto de profundidad */
}

.contenedorLogoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorLogoFooter img {
    width: 15rem;
    margin-bottom: 0.7rem;
    border: #d2ae6d 3px solid ;
    border-radius: 5px;
}

footer div h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.spanFooter1 {
    text-decoration: underline;
    text-decoration-color: #d2ae6d;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.serviciosFooter {
    margin-top: 1rem;
}

.contactoFooter {
    margin-top: 1rem;
}

.serviciosFooter p {
    line-height: 2.2rem;
    font-size: 1rem;
    font-weight: normal;
    text-wrap: nowrap;
}


.contactoFooter p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
}

.iconosFooter {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;

}

.logoInstagram {   
    transition: all 0.3s;
    color: #fafafa;
}

.logoLinkedin {    
    transition: all 0.3s;
    color: #fafafa;
}

.logoWpp {
    transition: all 0.3s;
    color: #fafafa;
}

.logoInstagram:hover {
    color: #E1306c;
}

.logoLinkedin:hover {
    color: #0e76a8
}

.logoWpp:hover {
    color: #25d366;
}

.logoFacebook {
    transition: all 0.3s;
    color: #fafafa;
}

.logoFacebook:hover {
    color: #3b5998
}


@media (max-width: 900px) {
    .contenedorLogoFooter {
        grid-area: logo;
        margin-bottom: 1.5rem;
    }

    .serviciosFooter {
        grid-area: servicios;
    }

    .contactoFooter {
        grid-area: contacto;
    }

    footer {
        display: grid;
        grid-template-areas: ".. .. logo .. .." ".. servicios .. contacto ..";
    }
}

@media (max-width: 604px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}

.contenedorLogoFooter {
    margin-top: 1.5rem;
}

.serviciosFooter {
    margin-top: 1.5rem;
}

.contactoFooter {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.spanFooter1 {
    text-decoration: none;
}

.spanFooter2 {
    text-decoration: underline;
    text-decoration-color: #d2ae6d;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}
}
