.cardsContainerInicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardsContainerAreas {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.cardAreaWrapper {
    display: flex;
    justify-content: center;
    /* Centra el contenido */
}

.cardIndividual {
    border: #d2ae6d 3px solid;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
    transition: all 0.3s;
}

.cardIndividual:hover {
    transform: scale(1.05, 1.05);
}

.cardInicio {
    height: 23rem;
    width: 18rem;
}

.cardIndividual h3 {
    text-wrap: balance;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.8rem;
    text-align: center;
}

.imagenCards {
    max-height: 5.5rem;
    max-width: 5.5rem;
    align-self: center;
}

.cardIndividual p {
    font-size: 1.1rem;
    margin-bottom: 13px;
    margin-top: 13px;
    text-align: center;
}

.cardEspecial {
    background-color: #d2ae6d;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardEspecial p {
    font-size: 1.5rem;
}

.btnCardInicioContainer {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btnCardInicio {
    display: inline-block;
    font-size: 1.3rem;
    background-color: gray;
    color: #fafafa;
    padding: 10px;
    border: gray solid 1px;
    border-radius: 15px;
    width: 180px;
    transition: all 0.3s;
}

.btnCardInicio:hover {
    background-color: #a0a0a0;
}

.cardAreas {
    width: 25rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cardContentInicio {
    flex: 1;
}

.cardAreas h3 {
    text-align: center;
    word-wrap: break-word;
    font-size: 2.3rem;
    color: black;
}

.cardAreas p {
    text-align: justify;
}

.cardAreas .imagenCards {
    align-self: center;
}

.btnAreasContainer {
    display: flex;
    justify-content: space-between;
}

.btnAreasContainer button {
    font-size: 1rem;
    margin-top: auto;
    padding: 10px;
    border-radius: 15px;
    width: 8.5rem;
}


.btnAreasVerMas {
    background-color: gray;
    border: gray solid 1px;
    color: #fafafa;
    transition: all 0.3s;
}

.btnAreasVerMas:hover {
    background-color: #a0a0a0;
}

.btnAreasContacto {
    background-color: #d2ae6d;
    color: #fafafa;
    padding: 10px;
    border: #d2ae6d solid 1px;
    transition: all 0.3s;
}

.btnAreasContacto:hover {
    background-color: #e6bd73;
}

.cardTituloAreas {
    min-height: 4.5rem;
}

.cardNosotros {
    width: 23rem;
    height: 40.5rem;
}

.cardNosotros h3 {
    text-align: center;
    color: #d2ae6d;
}

.cardNosotros p {
    text-align: justify;
}

.cardIndividual .imagenCardsNosotros {
    width: 15rem;
    height: 20rem;
    align-self: center;
    border: #e6bd73 3px solid;
    border-radius: 5px;

}


@media (max-width: 1150px) {
    .cardAreas {
        width: 25rem;
        height: 30rem;
    }

    .cardNosotros {
        width: 23rem;
        height: 43rem;
    }
}

@media (max-width: 990px) {
    .cardAreas {
        width: 25rem;
        height: 27rem;
    }

    .cardNosotros {
        width: 23rem;
        height: 41rem;
    }
}

@media (max-width: 425px) {

    .cardInicio {
        height: 24rem;
    }

    .cardNosotros {
        height: 43.5rem;
    }
}

@media (max-width: 350px) {
    .cardAreas {
        width: 22rem;
    }
}