.cardsContainerInicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cardsContainerAreas {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .cardAreaWrapper {
    display: flex;
    justify-content: center; /* Centra el contenido */
}

.cardIndividual {
    border: #d2ae6d 3px solid;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 60px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
    transition: all 0.3s;
}

.cardIndividual:hover {
    transform: scale(1.05, 1.05);
}

.cardInicio {
    height: 22.5rem;
    width: 18rem;
}

.cardIndividual h2 {
    text-wrap: balance;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.8rem;
}

.imagenCards {
    max-height: 5.5rem;
    max-width: 5.5rem;
}

.cardIndividual p {
    font-size: 1.1rem;
    margin-bottom: 13px;
    margin-top: 13px;
    text-align: justify;
}

.cardEspecial {
    background-color: #d2ae6d;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardEspecial p {
    font-size: 1.5rem;
}

.btnCardInicioContainer {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btnCardInicio {
    display: inline-block;
    font-size: 1.3rem;
    background-color: gray;
    color: #fafafa;
    padding: 10px;
    border: gray solid 1px;
    border-radius: 15px;
    width: 180px;
}

.btnCardInicio:hover {
    background-color: #a0a0a0;
}

.cardAreas {
    width: 25rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cardContentInicio {
    flex: 1;
}

.cardAreas h2 {
    text-align: center;
    word-wrap: break-word;
    font-size: 2.3rem;
    color: #d2ae6d;
}

.cardAreas .imagenCards {
    align-self: center;
}

.btnAreasContainer {
    display: flex;
    justify-content: space-between;
}

.btnAreasContainer button {
    font-size: 1rem;
    margin-top: auto;
    padding: 10px;
    border-radius: 15px;
    width: 130px;
}


.btnAreasVerMas {
    background-color: gray;
    border: gray solid 1px;
    color: #fafafa;
}

.btnAreasVerMas:hover {
    background-color: #a0a0a0;
}

.btnAreasContacto {
    background-color: #d2ae6d;
    color: #fafafa;
    padding: 10px;
    border: #d2ae6d solid 1px;
}

.btnAreasContacto:hover {
    background-color: #e6bd73;
}

.cardTituloAreas {
    min-height: 4.5rem;
}

.cardNosotros {
    width: 20rem;
    height: 32rem;
}

.cardNosotros h2 {
    text-align: center;
    color: #d2ae6d;
}

.cardIndividual .imagenCardsNosotros {
    width: 15rem;
    height: 20rem;
    align-self: center;
}